body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 90%;
}

.collapse.navbar-collapse {
    margin-left: 2%;
}

.head {
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 1%;
    color: #003aad;
}

.text, .exercise {
    margin-left: 3%;
}

.buttons {
    margin-top: 0%;
    margin-left: 3%;
}

table {
    margin-top: 10%;
    margin-left: auto; 
    margin-right: auto;
}

.space {
    padding: 24px 8px;
}

.button-m {
    background-color: #003aad;
    border: 2px solid #003aad;
    color: white;
    padding: 24px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 2%;
    margin-right: 2%;
    width: 250px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button-m:hover {
    text-decoration: none;
    border: 2px solid #003aad;
    background-color: white;
    color: #003aad;
    opacity: 0.8;
}

.button-l {
    border: 2px solid #003aad;
    background-color: white;
    color: #003aad;
    text-decoration: none;
    padding: 36px 48px;
    text-align: center;
    font-size: 16px;
    margin-top: 4%;
    margin-right: 4%;
    width: 300px;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
}

.button-l:hover {
    background-color: #003aad;
    color: white;
    text-decoration: none;
}

.footer .nav-item {
    text-decoration: none;
    color: #003aad;
    display: inline-block;
    width: 24%;
    text-align: center;
}

.footer {
    flex: 0 0 50px;
    margin-top: auto;
}