/* Allgemein */

button {
    font-size: 22px;
    color: white;
    background-color: #003aad;
    border: 2px solid #003aad;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
}

button:hover{
	text-decoration: none;
	color: #003aad;
    background-color: white;
    border: 2px solid #003aad;
    opacity: 0.8;
}

/* Multiple Choice-Übung */

.answers {
    margin-top: 1%;
    text-align: left;
    display: inline-block;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

/* Drag & Drop-Übung */

#drop_area_1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

#drop_area_2 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

#solution {
    margin: auto;
    display: none;
}

.task {
    font-size: 20px;
    margin-top: 2%;
}

.example {
    margin-top: 2%;
    margin-bottom: 2%;
}

.table_head {
    color: #003aad;
}

.dnd_table {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.dnd_items {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Markieren-Übung */

.highlight {
  background-color: yellow;
}

/* Texteingabe-Übung */

.input_table {
    margin-top: 2%;
    margin-bottom: 2%;
}

.input_field {
    width: 700px;
    height: 100px;
}

.left_column {
    width: 200px;
    height: 100px;
    text-align: center;
}

.right_column {
    width: 700px;
    height: 100px;
}